<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Team</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<div th:insert="blocks/header :: header"></div>
<body>

<form method="get" action="/team">
  <div class="mb-3">
    <p class="h2">Фильтрация по спорту</p>
    <input type="text" class="form-control" name="nameSports" th:value="${nameSports}">
    <div class="form-text">Введите вид спорта</div>
  </div>
  <button type="submit" class="btn btn-success">Найти</button>
</form>

<form method="get" action="/team">
  <div class="mb-3">
    <p class="h2">Фильтрация по дате</p>
    <input type="date" class="form-control" name="date"  th:value="${date}">
    <div class="form-text">Введите дату за период</div>
  </div>
  <button type="submit" class="btn btn-success">Найти</button>
</form>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название команды</th>
      <th scope="col">Вид спорта</th>
      <th scope="col">Дата основания</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="el : ${team}">
      <td th:text="${el.id}"></td>
      <td th:text="${el.nameTeam}"></td>
      <td th:text="${el.nameSports}"></td>
      <td th:text="${el.date}"></td>
      <td><a th:href="'/edit_team/' + ${el.id}" class="btn btn-primary">Изменить</a></td>
      <form th:action="'/remove_team/' + ${el.id}" method="post">
        <td><button class="btn btn-danger" type="submit">Удалить</button></td>
      </form>
      <!--<td><a th:href="'/remove_team/' + ${el.id}" class="btn btn-danger">Удалить</a></td>-->
      <!--<from th:action="'/remove_team/' + ${el.id} + '/remove'">
        <td><button class="btn btn-danger" type="submit">Удалить</button></td>
      </from>-->
    </tr>
  </tbody>
</table>

</body>
</html>