<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar py-3 my-2">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="/main">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/team">Команды</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team_members">Участники</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_team_members">Создать участника</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_team">Создать команду</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>